* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #404258;
  font-family: sans-serif;
  color: #babddb;
  overflow-x: hidden;
}

.primary {
  width: 100%;
  margin-left: 50px;
}

.header {
  color: #babddb;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  position: fixed;
  background-color: #404258;
  height: 30px;
  width: 1920px;
  z-index: 100;
}

.header h2 {
  margin-right: 100px;
}

.sun {
  height: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 100px;
  width: 100px;
}

.list {
  display: flex;
}

#home {
  margin-left: 600px;
}

#about {
  margin-left: 50px;
}

#skills {
  margin-left: 50px;
}

#contact {
  margin-left: 50px;
}

.list a {
  text-decoration: none;
  color: #babddb;
}
.active {
  color: white;
}

.pic {
  margin-bottom: 50px;
}

.home_page {
  display: flex;
  justify-content: space-evenly;
  height: 500px;
  align-items: center;
  width: 1920px;
  color: #babddb;
  padding-top: 200px;
}

.home_page img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.home_page h1 {
  font-size: 40px;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 50px;
  line-height: 25px;
}
.name1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 50px;
  line-height: 25px;
}

.name h3 {
  margin-top: 20px;
  font-weight: 600;
  color: #9596a8;
}

.name p {
  font-size: 18px;
  font-weight: 500;
}
.name1 p {
  font-size: 18px;
  font-weight: 500;
}
.name1 h3 {
  margin-top: 20px;
  font-weight: 600;
  color: #9596a8;
}

#home1:hover {
  color: white;
}

#about1:hover {
  color: white;
}

#skills1:hover {
  color: white;
}

#contact1:hover {
  color: white;
}

.header1 {
  color: #babddb;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}

.about_page {
  margin-top: 200px;
}

.circle {
  width: 10px;
  height: 10px;
  background: #404258;
  border-radius: 50%;
  margin-left: 490px;
  margin-top: 100px;
  border: solid;
  border-width: 2px;
  border-color: #babddb;
}

.line {
  width: 2px;
  height: 150px;
  background: #babddb;
  margin-left: 496px;
}

.circle h4 {
  width: 400px;
  margin-left: 30px;
}

.circle li {
  width: 500px;
  margin-left: 50px;
  margin-top: 10px;
}

.circle1 {
  width: 10px;
  height: 10px;
  background: #404258;
  border-radius: 50%;
  margin-left: 490px;
  border: solid;
  border-width: 2px;
  border-color: #babddb;
}

.circle1 h4 {
  width: 400px;
  margin-left: 30px;
}

.circle1 li {
  width: 500px;
  margin-left: 50px;
  margin-top: 10px;
}

.circle2 {
  width: 10px;
  height: 10px;
  background: #404258;
  border-radius: 50%;
  margin-left: 490px;
  border: solid;
  border-width: 2px;
  border-color: #babddb;
}

.circle2 h4 {
  width: 500px;
  margin-left: 30px;
}

.circle2 li {
  width: 500px;
  margin-left: 50px;
  margin-top: 10px;
}

.header2 {
  color: #babddb;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.skills_page {
  margin-top: 200px;
}

.header3 {
  color: #babddb;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.call {
  margin-left: 490px;
  display: flex;
  margin-top: 150px;
}

.call h2 {
  margin-left: 10px;
}

.num p {
  margin-left: 10px;
  margin-top: 10px;
}

.call img {
  margin-top: 10px;
}

.mail {
  margin-left: 490px;
  display: flex;
  margin-top: 50px;
}

.mail h2 {
  margin-left: 10px;
}

.text p {
  margin-left: 10px;
  margin-top: 10px;
}

.mail img {
  margin-top: 10px;
}

.facebook {
  margin-left: 490px;
  display: flex;
  margin-top: 50px;
}

.facebook h2 {
  margin-left: 10px;
}

.fb p {
  margin-left: 10px;
  margin-top: 10px;
}

.facebook img {
  margin-top: 10px;
}

.footer {
  height: 200px;
  width: 100%;
  background: #21232e;
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  width: 400px;
}

.wraper {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.html {
  display: flex;
  width: 300px;
  justify-content: flex-start;
  align-items: center;
}

.css {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 500px;
}
.js {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 500px;
}

.icons i:hover {
  color: rgb(89, 99, 114);
}
.night_mode {
  background-color: white;
  color: black;
}
.active :hover {
  color: black;
}
.hidden {
  display: none;
}
.hover_color :hover {
  color: black;
}
.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
  margin-top: 200px;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-btn {
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.product-info {
  height: 100px;
  padding-top: 10px;
  font-size: 15px;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}
.product-short-description a {
  color: #babddb;
  text-decoration: none;
}
.product-short-description a:hover {
  color: rgb(255, 255, 255);
}
.price {
  font-weight: 900;
  font-size: 20px;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  z-index: 8;
  opacity: 1;
}

.left {
  fill: white;
}

.uil-angle-left-b {
  font-size: 40px;
  color: #babddb;
}

.uil-angle-right-b {
  font-size: 40px;
  color: #babddb;
}

.pre-btn {
  left: 0;
  /* transform: rotate(180deg); */
}

.nxt-btn {
  right: 0;
}

.pre-btn i,
.nxt-btn i {
  opacity: 0.2;
}

.pre-btn:hover i,
.nxt-btn:hover i {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}
.product img {
  border-radius: 10px;
}
#my_projects {
  margin-bottom: 150px;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #121218;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0c0c0e;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #21232e;
}
